
lab08/Kalashnyk_task/obj/Debug/main.o
lab08/Kalashnyk_task/Kalashnyk_task.cbp
lab08/Kalashnyk_task/Kalashnyk_task.depend
lab08/Kalashnyk_task/Kalashnyk_task.cbp
lab08/Kalashnyk_task/Kalashnyk_task.depend
lab08/Kalashnyk_task/main.cpp
lab08/Kalashnyk_task/Kalashnyk_task.layout
lab08/Kalashnyk_task/Kalashnyk_task.depend
lab08/Kalashnyk_task/Kalashnyk_task.cbp
lab08/Kalashnyk_task/bin/Debug/Kalashnyk_task.exe
